@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

/*body, label {*/
/*  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia,*/
/*    'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN',*/
/*    'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif',*/
/*    'Songti SC', 'Microsoft YaHei', serif !important;*/
/*}*/

body,
label {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont,
    'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto,
    'Segoe UI', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Heiti SC', 'WenQuanYi Micro Hei', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.grid div {
  border: 1px dotted red;
  z-index: 999;
}

.flex div {
  border: 1px dotted red;
  z-index: 999;
}

.header {
  font-family: Georgia, 'Noto Serif CJK SC', 'Source Han Serif SC',
    'Source Han Serif CN', 'Songti SC', 'SimSun', 'STSong', 'AR PL Sungti',
    serif !important;
}

.container {
  max-width: 940px;
}

.nav-container {
  width: 100%;
  background-color: #393034;
}

.nav {
  display: flex;
  @apply flex-row;
  @apply justify-between;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1020px;
  height: 64px;
  @apply text-white;
}

.nav-menu {
  width: 1020px;
}

.home-nav {
  display: flex;
  @apply flex-row;
  @apply justify-between;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1020px;
  height: 118px;
}

.home-nav-content {
  padding-top: 20px;
}

.home-content {
  display: flex;
  @apply flex-row;
  @apply justify-between;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1020px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 44px;
}

.nav-button {
  padding: 7px 15px 0 0;
  font-size: 16px;
  line-height: 1.5;
  white-space: nowrap;
  @apply cursor-pointer;
}

.underline-red {
  text-decoration-color: red;
  text-decoration: underline;
}

.inner-container {
  max-width: 1020px;
}

.edit-container {
  padding: 30px 52px;
}

.shadow-outline-1 {
  box-shadow: 0 0 0 1px rgba(66, 153, 225, 0.5);
}

.drag {
  position: absolute;
  left: -24px;
  top: 5px;
  bottom: 10px;
  width: 24px;
  height: auto;
  font-size: 22px;
  color: #d0d0d0;
  cursor: move;
}

.book-container-wrapper {
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 66px;
  margin-bottom: 30px;
}

.book-container {
  min-width: 900px;
  max-width: 1060px;
  width: 95%;
  border: 1px solid rgba(77, 80, 85, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}

.center-v {
  @apply h-full flex items-center justify-center;
}

.text-16 {
  font-size: 16px;
}

.text-light {
  color: #adadad;
}

.py30 {
  padding-bottom: 3px;
  padding-top: 3px;
}

.py32 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.px56 {
  padding-left: 56px;
  padding-right: 56px;
}

.px52 {
  padding-left: 52px;
  padding-right: 52px;
}

.pt32 {
  padding-top: 32px;
}

.pb56 {
  padding-bottom: 56px;
}

.weekly-hours-grid {
  grid-template-columns: 200px repeat(auto-fill, 100px) 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.gentle-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

::-moz-selection {
  /* Code for Firefox */
  color: #241c15;
  background: rgba(255, 113, 208, 0.2);
}

::selection {
  color: #241c15;
  background: rgba(255, 113, 208, 0.2);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-button {
  border: 1px solid #2251ff;
  background-color: #2251ff;
  color: white;
  width: 200px;
  height: 48px;
  font-size: 1.125rem;
  transition: all 120ms linear;
}

.login-button:hover {
  border: 1px solid #2251ff;
  background-color: white;
  color: #2251ff;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.submit-button {
  border: 1px solid #2251ff;
  background-color: #2251ff;
  color: white;
  width: 200px;
  height: 48px;
  font-size: 1.125rem;
  transition: all 120ms linear;
}

.submit-button:hover {
  border: 1px solid #2251ff;
  background-color: white;
  color: #2251ff;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.Header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  height: 70px;
}

.header-padding {
  padding: 20px 20px 18px;
}

.header-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.header-h {
  height: 70px;
}

.ms-SearchBox:focus {
  outline: none;
  border: 0;
}

.dot-under {
  display: inline-block;
  vertical-align: top;
  /*padding-bottom: 10px;*/
  position: relative;
  text-align: center;
  /*padding: 20px 10px;*/
  /*line-height: 24px;*/
  /*min-width: 100px;*/
  /*background: #333;*/
  font-size: 20px;
  color: #fff;
}

.dot-under::before {
  @apply bg-red-400;
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
  height: 8px;
  content: '';
  width: 8px;
  left: 50%;
}

.is-checked .ms-Toggle-background {
  @apply bg-green-300;
}

.h-32-important {
  height: 32px !important;
}

/**/

.fc {
  /* the calendar root */
  /*max-width: 1100px;*/
  margin: 0 auto;
}

.fc .fc-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor,
.fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor {
  border: 0;
}

.fc .fc-timegrid-col-bg .fc-bg-event {
  z-index: 2;
}

.fc .fc-bg-event.sc-unavailable {
  background-color: rgba(210, 214, 220, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.25;
  --tw-border-opacity: 1;
  border-color: rgba(210, 214, 220, var(--tw-border-opacity));
  border-top-width: 1px;
  border-bottom-width: 1px;
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0h1L0 6V5zm1 5v1H5z' fill='%2364748b' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.fc .fc-timegrid-slot {
  height: 0.75em;
}

.fc .fc-timegrid-now-indicator-line {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  border: 0 solid red;
  border-color: red;
  border-top: 1px solid red;
}

.fc .fc-timegrid-now-indicator-line:after {
  border-radius: 9999px;
  display: block;
  height: 0.75rem;
  width: 0.75rem;
  z-index: 10;
  background: red;
  left: 0;
  content: '';
  transform: translate(-7px, -7px);
}

.fc .fc-timegrid-now-indicator-container {
  overflow: visible;
}

.fc .fc-timegrid-now-indicator-arrow {
  display: none;
}

.fc .fc-highlight {
  --tw-bg-opacity: 1;
  opacity: 0.5;
}

.fc .fc-timegrid-col-bg .fc-highlight {
  z-index: 3;
}

.fc .fc-scrollgrid {
  border: 0;
}

.fc td {
  /*border-top: 0;*/
  border-bottom: 0;
}

.fc .fc-col-header-cell {
  border-bottom: 0;
}

.shadow-floating {
  --tw-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.15),
    0 1px 6px -2px rgba(0, 0, 0, 0.1);
}

.shadow-floating,
.shadow-inner {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.fc .fc-button-primary {
  color: black;
  background-color: white;
}

.fc .fc-button-primary:hover {
  color: white;
  background-color: black;
}

.fc .fc-button-primary:disabled {
  @apply text-var-gray-700 bg-gray-400;
  border: 0;
}

.fc .fc-toolbar-title {
  font-size: 1.4em;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding-right: 20px;
}

/** */

.btn-draft {
  @apply mx-2 px-1 border-gray-300 border-2 border-solid cursor-pointer hover:bg-gray-200 rounded w-20 text-center;
}

.btn-draft-lg {
  @apply mx-2 px-1 py-1 border-gray-300 border-2 border-solid cursor-pointer hover:bg-gray-200 rounded w-full text-center;
}

.border-green-solid-2 {
  @apply border-green-500 border-2 border-solid;
}
